/* debut color*

#3e3e3e -> gris métier

** fin color*/

/* debut font */

@font-face {
    font-family: "OpenSans-Bold";
    src: url("../fonts/OpenSans-Bold.ttf");
}

@font-face {
    font-family: "OpenSans-BoldItalic";
    src: url("../fonts/OpenSans-BoldItalic.ttf");
}

@font-face {
    font-family: "OpenSans-ExtraBold";
    src: url("../fonts/OpenSans-ExtraBold.ttf");
}

@font-face {
    font-family: "OpenSans-ExtraBoldItalic";
    src: url("../fonts/OpenSans-ExtraBoldItalic.ttf");
}

@font-face {
    font-family: "OpenSans-Italic";
    src: url("../fonts/OpenSans-Italic.ttf");
}

@font-face {
    font-family: "OpenSans-Light";
    src: url("../fonts/OpenSans-Light.ttf");
}

@font-face {
    font-family: "OpenSans-LightItalic";
    src: url("../fonts/OpenSans-LightItalic.ttf");
}

@font-face {
    font-family: "OpenSans-Regular";
    src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "OpenSans-SemiBold";
    src: url("../fonts/OpenSans-SemiBold.ttf");
}

@font-face {
    font-family: "OpenSans-BoldItalic";
    src: url("../fonts/OpenSans-SemiBoldItalic.ttf");
}

/* fin font*/

/* debut reset css*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* fin reset css*/

/* debut header */

/* fin header*/

/* debut gen*/

/* fin gen*/

/* debut enseignement*/

/* fin enseignement */

/* debut metier*/

.metier {
    background-color: #3e3e3e;
}

.metier-container {
    margin: 0 360px;
}

.metier h2 {
    text-transform: uppercase;
    font-family: OpenSans-SemiBold, sans-serif;
    font-size: 30px;
    padding-top: 60px;
    padding-bottom: 75px;
}

.metier h2 span {
    border-bottom: 3px solid #ffffff;
    border-image: linear-gradient(to right, #ffffff, #3e3e3e) 10;
    padding-bottom: 29px;
}

.metier h3, .metier p {
    font-size: 14px;
}

.metier h3 {
    font-family: OpenSans-Bold, sans-serif;
}

.metier p {
    font-family: OpenSans-Regular, sans-serif;
    margin-bottom: 40px;
    padding-right: 25px;
}

.metier .btn-inscription {
    padding: 25px 100px;
    text-transform: uppercase;
}

.metier .btn-inscription:hover {
    border: 0 solid #ffffff;
    background-image: linear-gradient(180deg, rgb(156, 0, 32) 0%, rgb(211, 31, 68) 100%);
    background-image: -moz-linear-gradient(180deg, rgb(156, 0, 32) 0%, rgb(211, 31, 68) 100%);
    background-image: -webkit-linear-gradient(180deg, rgb(156, 0, 32) 0%, rgb(211, 31, 68) 100%);
    background-image: -ms-linear-gradient(180deg, rgb(156, 0, 32) 0%, rgb(211, 31, 68) 100%);
}

.metier .metier-texte {
    padding-bottom: 70px;
}

/* fin metier*/

/* debut projet*/

.projet-container {
    padding-top: 80px;
    margin-left: 360px;
    margin-right: 350px;
    margin-bottom: 70px;
    display: flex;
}
.img-projet{
    margin-top: 15px;
}

.contenu-projet {
    margin-left: 30px;
}

.projet h2 {
    font-size: 24px;
}

.projet ul {
    list-style: none outside;
    padding: 0;
    margin: 0;

    padding-left: 1.80em;

}

.projet li {
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;

    padding-bottom: 3.5px;
}

.projet li:nth-child(7) {
    padding-bottom: 0;
}

.projet li::before {
    content: "\2022";
    color: #d31f44;
    display: inline-block;
    vertical-align: text-top;
    font-size: 30px;
    line-height: 21px;

    width: 1em;
    margin-left: -1em;

}

.titre-decoration {
    border-bottom: solid 3px;
    border-image: linear-gradient(90deg, rgba(162, 3, 36, 1) 0%, rgba(162, 3, 36, 1) 50%, rgba(250, 243, 242, 0) 100%)1;
    padding-bottom: 30px;

    
}

p {
    padding-top: 50px;
}

/* fin projet*/

/* debut titre pro*/

/* fin titre pro*/

/* debut centre de formation*/

/* fin centre de formation*/

/* debut temoignage*/

/* fin temoignage*/

/* debut contact*/

/* fin contact*/

/* debut logo*/

/* fin footer*/

/* fin footer*/